

// Fonts
$font-title: 'Montserrat', sans-serif;
$font-body: 'Ubuntu', sans-serif;

$basic-font-size: 16px;
$basic-line-height: 26px;

// Colors

$blue: #004c70;
$white: #fff;
$grey-light: #efefef;
$grey-medium: #cccccc;
$grey: #666666;
$grey-dark: #333333;
$teal: #009688;
$orange: #f39c12;
